@font-face {
  font-family: 'pausar-icons';
  src:  url('../fonts/pausar-icons.eot?xt5owj');
  src:  url('../fonts/pausar-icons.eot?xt5owj#iefix') format('embedded-opentype'),
    url('../fonts/pausar-icons.ttf?xt5owj') format('truetype'),
    url('../fonts/pausar-icons.woff?xt5owj') format('woff'),
    url('../fonts/pausar-icons.svg?xt5owj#pausar-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="pausar-icon-"], [class*=" pausar-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pausar-icons' !important;
  speak: never;
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pausar-icon-viewer:before {
  content: "\e901";
}
.pausar-icon-logo:before {
  content: "\e900";
}